.App {
  text-align: center;
}

.square {
  border: 1px outset blue;
  background-color: lightBlue;
  height:50px;
  width:50px;
  cursor:pointer;
}

.square:hover {
  background-color: rgb(0, 255, 174);
  color:white;
}

.board-row {
  display: flex;
}